<div class="container">
    <h1 style="margin-top: 40px; margin-bottom: 40px;">Site Init</h1>



    <div class="container">
        <h4>Instance Detail</h4>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="host-name">Your Commerce Cloud Host Name</label>
                <input type="text" [(ngModel)]="instanceDetail.host" class="form-control" id="host-name" placeholder="name-pod-dw.demandware.net">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bm-user-name">BM User Name</label>
                <input type="text" [(ngModel)]="instanceDetail.bmUserName" class="form-control" id="bm-user-name" placeholder="BM User Name">
            </div>
            <div class="bm-password col-md-6">
                <label for="inputPassword4">BM Password</label>
                <input type="password" [(ngModel)]="instanceDetail.bmPassword" class="form-control" id="bm-password" placeholder="BM Password">
            </div>
        </div>
    </div>


    <hr>


    <div class="container">
        <h4>Site Detail</h4>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="site-id">Site ID</label>
                <input type="text" [(ngModel)]="siteDetail.id" class="form-control" id="site-id" placeholder="my_awesome_site">
            </div>
            <div class="form-group col-md-6">
                <label for="site-name">Site Name</label>
                <input type="text" [(ngModel)]="siteDetail.name" class="form-control" id="site-name" placeholder="My Awesome Site">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="site-default-currency">Default Local</label>
                <select [(ngModel)]="siteDetail.defualtLocale" id="site-default-locale" class="form-control">
                    <option *ngFor="let locale of locales" [value]="locale">{{locale}}</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="site-default-currency">Default Currency</label>
                <select [(ngModel)]="siteDetail.defaultCurrency" id="site-default-currency" class="form-control">
                    <option *ngFor="let currency of currencies" [value]="currency['code']">{{currency['name']}}</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="site-allowed-currencies">Allowed Currencies</label>
                <ng-multiselect-dropdown
                    [placeholder]="'please select something'"
                    [data]="currencies"
                    [(ngModel)]="siteDetail.allowedCurrencies"
                    [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    class="form-control"
                    id="site-allowed-currencies"
                    >
                </ng-multiselect-dropdown>
            </div>

            <div class="form-group col-md-6">
                <label for="email">Email Notification (optional)</label>
                <input type="email" [(ngModel)]="siteDetail.email" class="form-control" id="email" placeholder="myname@domain.com">

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="site-main-color">Main Color</label>
                <input type="text" [(ngModel)]="siteDetail.mainColor" class="form-control" id="site-main-color" placeholder="#005ED4" disabled>
            </div>
            <div class="form-group col-md-6">
                <label for="site-brand-logo-url">Brand Logo URL</label>
                <input type="text" [(ngModel)]="siteDetail.brandLogoUrl" class="form-control" id="site-brand-logo-url" placeholder="https://my.image.url" disabled>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rebuild-index" [(ngModel)]="siteDetail.isRebuildSearchIndex">
                    <label class="form-check-label" for="rebuild-index">
                        Rebuild Index (this will rebuild search index for ALL of your sites!!)
                    </label>
                </div>

            </div>
        </div>




        <hr>

        <div class="text-center" style="margin: 50px;">
            <button type="button" (click)="onSubmitSiteInit()" class="btn btn-primary">Build and Deploy Site</button>
        </div>
    </div>
</div>
