<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">


    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="navbar-text">
                    Want to contribute to the project?
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white"
                    href="https://github.com/yusukeoshiro/cc-demo-creator-front" target="_blank">Front End</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white"
                    href="https://github.com/yusukeoshiro/cc-demo-creator-back" target="_blank">Back End</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://github.com/yusukeoshiro/cc-demo-creator-back/tree/master/documents" target="_blank">Learn more about the tool</a>
            </li>
        </ul>
    </div>
</nav>
