<div class="container">

    <div class="container">
        <h4>Instance Detail</h4>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="host-name">Your Commerce Cloud Host Name</label>
                <input type="text" [(ngModel)]="catalogDetail.host" class="form-control"
                    id="host-name" placeholder="name-pod-dw.demandware.net" (change)="onGetSites(catalogDetail)">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="bm-user-name">BM User Name</label>
                <input type="text" [(ngModel)]="catalogDetail.bmUserName" class="form-control"
                    id="bm-user-name" placeholder="BM User Name" (change)="onGetSites(catalogDetail)">
            </div>
            <div class="bm-password col-md-6">
                <label for="inputPassword4">BM Password</label>
                <input type="password" [(ngModel)]="catalogDetail.bmPassword" class="form-control"
                    id="bm-password" placeholder="BM Password" (change)="onGetSites(catalogDetail)">
            </div>
        </div>


    </div>



    <div *ngIf="sites">

        <hr>

        <div class="container">
            <h4>Site Assignment</h4>


            <select class="form-control form-control-sm" [(ngModel)]="selectedSiteForAssignment">
                <option value="" selected="selected">Don't Assign</option>
                <option *ngFor="let site of sites" [ngValue]="site.id">{{site.id}}</option>
            </select>



        </div>


    </div>

    <hr>

    <div class="container">
        <h4>Catalog Detail</h4>




        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="catalog-id">Catalog ID</label>
                <input type="text" [(ngModel)]="catalogDetail.id" class="form-control" id="catalog-id" placeholder="Catalog ID">
            </div>
            <div class="form-group col-md-6">
                <label for="catalog-name">Catalog Name</label>
                <input type="text" [(ngModel)]="catalogDetail.name" class="form-control" id="catalog-name" placeholder="Catalog Name">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email Notification (optional)</label>
                <input type="email" [(ngModel)]="catalogDetail.email" class="form-control" id="email" placeholder="myname@domain.com">

            </div>

            <div class="form-group col-md-6">
                <label for="selected-pricebook-currency">Pricebook Currency</label>
                <select id="selected-pricebook-currency" class="form-control form-control-sm" [(ngModel)]="selectedPricebookCurrency">
                    <option value="" selected="selected">Not Selected</option>
                    <option value="USD">US Dollar</option>
                    <option value="EUR">Euro</option>
                    <option value="AFN">Afghan Afghani</option>
                    <option value="ALL">Albanian Lek</option>
                    <option value="DZD">Algerian Dinar</option>
                    <option value="AOA">Angolan Kwanza</option>
                    <option value="ARS">Argentine Peso</option>
                    <option value="AMD">Armenian Dram</option>
                    <option value="AWG">Aruban Florin</option>
                    <option value="AUD">Australian Dollar</option>
                    <option value="AZN">Azerbaijani Manat</option>
                    <option value="BSD">Bahamian Dollar</option>
                    <option value="BHD">Bahraini Dinar</option>
                    <option value="BDT">Bangladeshi Taka</option>
                    <option value="BBD">Barbadian Dollar</option>
                    <option value="BYN">Belarusian Ruble</option>
                    <option value="BZD">Belize Dollar</option>
                    <option value="BMD">Bermudan Dollar</option>
                    <option value="BOB">Bolivian Boliviano</option>
                    <option value="BWP">Botswanan Pula</option>
                    <option value="BRL">Brazilian Real</option>
                    <option value="BND">Brunei Dollar</option>
                    <option value="BGN">Bulgarian Lev</option>
                    <option value="BIF">Burundian Franc</option>
                    <option value="XPF">CFP Franc</option>
                    <option value="KHR">Cambodian Riel</option>
                    <option value="CAD">Canadian Dollar</option>
                    <option value="CVE">Cape Verdean Escudo</option>
                    <option value="KYD">Cayman Islands Dollar</option>
                    <option value="CLP">Chilean Peso</option>
                    <option value="COP">Colombian Peso</option>
                    <option value="KMF">Comorian Franc</option>
                    <option value="CDF">Congolese Franc</option>
                    <option value="BAM">Bosnia-Herzegovina Convertible Mark</option>
                    <option value="NIO">Nicaraguan Córdoba</option>
                    <option value="CRC">Costa Rican Colón</option>
                    <option value="HRK">Kuna</option>
                    <option value="CUP">Cuban Peso</option>
                    <option value="CZK">Czech Republic Koruna</option>
                    <option value="DKK">Danish Krone</option>
                    <option value="DJF">Djiboutian Franc</option>
                    <option value="DOP">Dominican Peso</option>
                    <option value="XCD">East Caribbean Dollar</option>
                    <option value="EGP">Egyptian Pound</option>
                    <option value="SVC">Salvadoran Colón</option>
                    <option value="ETB">Ethiopian Birr</option>
                    <option value="FKP">Falkland Islands Pound</option>
                    <option value="FJD">Fijian Dollar</option>
                    <option value="XAF">CFA Franc BEAC</option>
                    <option value="GMD">Gambian Dalasi</option>
                    <option value="GEL">Georgian Lari</option>
                    <option value="GHS">Ghanaian Cedi</option>
                    <option value="GIP">Gibraltar Pound</option>
                    <option value="GTQ">Guatemalan Quetzal</option>
                    <option value="GNF">Guinean Franc</option>
                    <option value="GYD">Guyanaese Dollar</option>
                    <option value="HTG">Haitian Gourde</option>
                    <option value="HNL">Honduran Lempira</option>
                    <option value="HKD">Hong Kong Dollar</option>
                    <option value="UAH">Ukrainian Hryvnia</option>
                    <option value="HUF">Hungarian Forint</option>
                    <option value="ISK">Icelandic Króna</option>
                    <option value="INR">Indian Rupee</option>
                    <option value="IDR">Indonesian Rupiah</option>
                    <option value="IRR">Iranian Rial</option>
                    <option value="IQD">Iraqi Dinar</option>
                    <option value="JMD">Jamaican Dollar</option>
                    <option value="JPY">Japanese Yen</option>
                    <option value="JOD">Jordanian Dinar</option>
                    <option value="KZT">Kazakhstani Tenge</option>
                    <option value="KES">Kenyan Shilling</option>
                    <option value="LAK">Laotian Kip</option>
                    <option value="KWD">Kuwaiti Dinar</option>
                    <option value="MMK">Myanma Kyat</option>
                    <option value="KGS">Kyrgystani Som</option>
                    <option value="LBP">Lebanese Pound</option>
                    <option value="SLL">Sierra Leonean Leone</option>
                    <option value="LSL">Lesotho Loti</option>
                    <option value="LRD">Liberian Dollar</option>
                    <option value="LYD">Libyan Dinar</option>
                    <option value="MOP">Macanese Pataca</option>
                    <option value="MKD">Macedonian Denar</option>
                    <option value="MGA">Malagasy Ariary</option>
                    <option value="MWK">Malawian Malawi Kwacha</option>
                    <option value="MYR">Malaysian Ringgit</option>
                    <option value="MVR">Maldivian Rufiyaa</option>
                    <option value="MRO">Mauritanian Ouguiya</option>
                    <option value="MUR">Mauritian Rupee</option>
                    <option value="MXN">Mexican Peso</option>
                    <option value="MDL">Moldovan Leu</option>
                    <option value="MNT">Mongolian Tugrik</option>
                    <option value="MAD">Moroccan Dirham</option>
                    <option value="MZN">Mozambican Metical</option>
                    <option value="ERN">Eritrean Nakfa</option>
                    <option value="NAD">Namibian Dollar</option>
                    <option value="NPR">Nepalese Rupee</option>
                    <option value="ANG">Netherlands Antillean Guilder</option>
                    <option value="ILS">Israeli New Sheqel</option>
                    <option value="TWD">New Taiwan Dollar</option>
                    <option value="NZD">New Zealand Dollar</option>
                    <option value="BTN">Bhutanese Ngultrum</option>
                    <option value="NGN">Nigerian Naira</option>
                    <option value="KPW">North Korean Won</option>
                    <option value="NOK">Norwegian Krone</option>
                    <option value="OMR">Omani Rial</option>
                    <option value="PKR">Pakistani Rupee</option>
                    <option value="PAB">Panamanian Balboa</option>
                    <option value="PGK">Papua New Guinean Kina</option>
                    <option value="PYG">Paraguayan Guarani</option>
                    <option value="PEN">Peruvian Sol</option>
                    <option value="UYU">Uruguayan Peso</option>
                    <option value="PHP">Philippine Peso</option>
                    <option value="PLN">Polish Zloty</option>
                    <option value="GBP">British Pound Sterling</option>
                    <option value="QAR">Qatari Rial</option>
                    <option value="RON">Romanian Leu</option>
                    <option value="RUB">Russian Ruble</option>
                    <option value="RWF">Rwandan Franc</option>
                    <option value="WST">Samoan Tala</option>
                    <option value="STD">São Tomé and Príncipe Dobra</option>
                    <option value="SAR">Saudi Riyal</option>
                    <option value="RSD">Serbian Dinar</option>
                    <option value="SCR">Seychellois Rupee</option>
                    <option value="SGD">Singapore Dollar</option>
                    <option value="SBD">Solomon Islands Dollar</option>
                    <option value="SOS">Somali Shilling</option>
                    <option value="ZAR">South African Rand</option>
                    <option value="KRW">South Korean Won</option>
                    <option value="SSP">South Sudanese Pound</option>
                    <option value="LKR">Sri Lankan Rupee</option>
                    <option value="SHP">Saint Helena Pound</option>
                    <option value="SDG">Sudanese Pound</option>
                    <option value="SRD">Surinamese Dollar</option>
                    <option value="SZL">Swazi Lilangeni</option>
                    <option value="SEK">Swedish Krona</option>
                    <option value="CHF">Swiss Franc</option>
                    <option value="SYP">Syrian Pound</option>
                    <option value="TJS">Tajikistani Somoni</option>
                    <option value="TZS">Tanzanian Shilling</option>
                    <option value="THB">Thai Baht</option>
                    <option value="TOP">Tongan Paʻanga</option>
                    <option value="TTD">Trinidad and Tobago Dollar</option>
                    <option value="TND">Tunisian Dinar</option>
                    <option value="TRY">Turkish Lira</option>
                    <option value="TMT">Turkmenistani Manat</option>
                    <option value="UGX">Ugandan Shilling</option>
                    <option value="AED">United Arab Emirates Dirham</option>
                    <option value="UZS">Uzbekistan Som</option>
                    <option value="VUV">Vanuatu Vatu</option>
                    <option value="VEF">Venezuelan Bolívar</option>
                    <option value="VND">Vietnamese Dong</option>
                    <option value="XOF">CFA Franc BCEAO</option>
                    <option value="YER">Yemeni Rial</option>
                    <option value="CNY">Chinese Yuan</option>
                    <option value="ZMW">ZMW</option>
                    <option value="ZWL">Zimbabwean Dollar (2009)</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rebuild-index" [(ngModel)]="isRebuildSearchIndex">
                    <label class="form-check-label" for="rebuild-index">
                        Rebuild Index (this will rebuild search index for ALL of your sites!!)
                    </label>
                </div>

            </div>
        </div>




    </div>

    <hr>

    <div class="container">

        <h4>Category Tree</h4>

        <div *ngFor="let category of categories">
            <div class="category" [style.padding-left.px]="20*category.level">
                <span *ngIf="category.isRoot">{{category.name}}</span>
                <span *ngIf="!category.isRoot">
                    <input class="" type="text" [(ngModel)]="category.name" placeholder="Name" (blur)="onCategoryBlur(category)"/>
                    <input class="" type="text" [(ngModel)]="category.id" placeholder="ID"/>
                </span>
                <i class="far fa-plus-square clickable" (click)="createSubCategory(category)"></i>
                <i class="far fa-times-circle clickable" *ngIf="!category.isRoot" (click)="deleteSubcategory(category)"></i>


            </div>
        </div>


    </div>

    <hr>
    <div class="container">
        <h4>Product Images</h4>
        <div class="card" style="margin-bottom: 20px;">
            <div class="card-body">
                <div class="image-thumb"
                    *ngFor="let image of productImages" [ngStyle]="{ 'background-image': 'url(' + image.url + ')'}"
                    (click)="image.toggleIsSelected()" [ngClass]="{selected: image.isSelected}">
                </div>
                <div *ngIf="productImages.length > 0">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <select class="form-control form-control-sm" [(ngModel)]="selectedProductIdForImage">
                                <option *ngFor="let product of getValidProducts()" [ngValue]="product.id">{{product.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onAssignImagesToProduct(selectedProductIdForImage)">Assign to this Product</button>
                        </div>
                    </div>

                </div>


                <span *ngIf="productImages.length === 0">
                    Please upload images
                </span>
            </div>

        </div>
        <a class="btn btn-outline-secondary btn-sm" id="upload_widget_opener">Upload Images</a>

    </div>



    <hr>


    <div class="container">
        <h4>Products</h4>
        <div class="card" style="margin-bottom: 30px;">
            <div class="card-body">
                <h5 class="card-title"><small>Randomizer</small></h5>
                <div>
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onRandomizeProductId()">Randomize Product ID</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="onRandomizeCategoryAssignment()">Randomize Category Assignment</button>

                    <hr>

                    <button type="button" class="btn btn-outline-secondary btn-sm"
                        (click)="onRandomizePrice(priceBoundary.min, priceBoundary.max, priceBoundary.decimalPlaces)">Randomize Price</button>
                    <input class="" type="number" [(ngModel)]="priceBoundary.min" placeholder="min price"/>
                    <input class="" type="number" [(ngModel)]="priceBoundary.max" placeholder="max price"/>
                    <input class="" type="number" [(ngModel)]="priceBoundary.decimalPlaces" placeholder="decimal places"/>

                    <hr>

                    <button type="button" class="btn btn-outline-secondary btn-sm"
                        (click)="onRandomizeImageAssignment()">Randomize Image Assignment</button>
                    <input class="" type="number" [(ngModel)]="imageRandomConfig.imagesPerProduct" placeholder="Images per Product"/>
                </div>

            </div>
        </div>


        <hot-table [colHeaders]="true" [rowHeaders]="true" [data]="products" [afterInit]="onAfterInit">
            <hot-column data="id" title="Product ID"></hot-column>
            <hot-column data="name" title="Product Name"></hot-column>
            <hot-column data="category" title="Primary Category"></hot-column>
            <hot-column data="price" title="Price"></hot-column>
            <hot-column data="imagesHtml" title="Images" renderer="html"></hot-column>
        </hot-table>

        <div style="margin-top: 20px;">
            <button type="button" class="btn btn-outline-secondary btn-sm" (click)="addRows()">Add 10 rows</button>
        </div>




    </div>
    <hr>

    <div class="text-center" style="margin: 50px;">
        <button type="button" (click)="onSubmitCatalogPopulate()" class="btn btn-primary">Build and Deploy Catalog</button>
    </div>



</div>
